<h1>{{title}}</h1>
<p>Login or register to start searching game data for every Steam title</p>

<div class="row">
    <div class="six columns">
        <a href="/user/login">
            <input class="button-primary u-full-width" type="button" value="Login">
        </a>
    </div>
    <div class="six columns">
        <a href="/user/register">
            <input class="button-secondary u-full-width" type="button" value="Register">
        </a>
    </div>
</div>


