<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='../main.css' />
    </head>
    <body>
        <section class="container">
            {{{body}}}
        </section>
        <script src="../bundle.js"></script>
    </body>
</html>
