<h1>Login</h1>
<p>Enter your details below</p>
<form data-component="login-form">
    <div class="row">
        <div class="six columns">
            <label for="Email Label">Your email</label>
            <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="Password Label">Password</label>
            <input class="u-full-width" type="text" placeholder="This must be a minumum of 8 characters" id="password"> 
        </div>
    </div>

    <input class="button-primary" type="submit" value="Login">
</form>
<div class="row">
    <div class="form-log"></div>
</div>