<h1>{{title}}</h1>
<form data-component="register-form">
    <div class="row">
        <div class="six columns">
            <label for="First Name Label">First Name</label>
            <input class="u-full-width" type="text" placeholder="Your first name..." id="first-name">
        </div>
        <div class="six columns">
            <label for="Last Name Label">Last Name</label>
            <input class="u-full-width" type="text" placeholder="Your last name..." id="last-name"> 
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="Email Label">Your email</label>
            <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="Password Label">Password</label>
            <input class="u-full-width" type="text" placeholder="This must be a minumum of 8 characters" id="password"> 
        </div>
    </div>

    <input class="button-primary" type="submit" value="Register">
</form>
<div class="row">
    <div class="form-log"></div>
</div>
